
*.lock
*.xml
.DS_Store
*.json
*.xml
*.xml
.idea/modules.xml
.packages
*.png
*.swift
*.properties
*.gradle
*.storyboard
*.plist
*.xcscheme
*.pbxproj
*.md
*.xcsettings
*.h
*.iml
*.kt
.idea/vcs.xml
*.iml
*.xcworkspacedata
*.xcconfig
*.xml
*.iml
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/uSPCTgkFnruQGBLCgcMP24c2UQA=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/SU9yNH4iW724geczEICdACeMZlg=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/UsI3AJ0iIQxvaVaNOSdmKmNXp+I=
